################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin/
**/obj/
/ReservationGraphQL/reservations.db-shm
/ReservationGraphQL/reservations.db-wal
